textarea {
    min-height: 400px;
}

.email-row {
    border: 1px solid #dee2e6;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.2s;
}

.email-row:hover {
    background-color: #f1f3f4;
}

/* Gray background for read emails */
.read {
    background-color: #e8eaed;
}

.sender {
    flex: 1;
}

.subject {
    flex: 2;
}

.timestamp {
    color: #5f6368;
    font-size: 0.9em;
}

.email-header {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    line-height: 1.6;
}

.email-body {
    white-space: pre-wrap; /* This preserves line breaks in the message */
    padding: 20px 10px;
    font-size: 1.1em;
}

#email-detail-view {
    display: none; /* Hidden by default */
}